* {
	padding:0;
	margin:0;
	font-family:"Love Ya Like A Sister";
}

#ksContainer {
	width:100%;
	height:100%;
	background-image:url(../images/background.jpg);
	background-repeat:no-repeat;
	position:fixed;
	background-size:cover;
	text-align:center;
}

#candleimage {
	text-align:center;
}

#descContain {
	text-align:center;
}

h2 {
	margin:20px 0 10px 20px;
}

.ksDescLass {
	height:280px;
	width:350px;
	background-color:rgba(0, 0, 0, 0.75);
	box-shadow:0 0 5px #555;
	display:inline-block;
	margin:0 15px 0 15px;
	border-radius:15px;
	color:white;
}

.ksDescSize {
	font-size:1.3em;
}

#gameDesc {
	color:white;
	width:775px;
	margin:auto;
	font-size:1.2em;
	margin-top:10px;
	margin-bottom:20px;
}

#demo {
	color:white;
	font-size:30px;
	margin-top:-25px;
}

.inText {
	margin-top:20px;
	font-size:1.2em;
}

.included {
	margin:20px 0 20px 0;
}

.included p {
	margin:5px 0 5px 0;
}

#currentlyPledged {
	color:white;
	font-size:1.2em;
}

iframe {
	margin-top:-20px;
}